<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.four_leader.snl">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".onetime.AuthPopUp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".license.activity.LicenseActivity" />
        <activity android:name=".signup.activity.SignUp1Activity" android:windowSoftInputMode="stateAlwaysVisible" />
        <activity android:name=".signup.activity.SignUp2Activity" android:windowSoftInputMode="stateAlwaysVisible" />
        <activity android:name=".license.activity.LicenseDetailActivity" />
        <activity android:name=".signup.activity.SignUp3Activity" android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".onetime.SetDefaultCategoryPopup"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".login.activity.LoginActivity" />
        <activity android:name=".main.activity.MainActivity" />
        <activity android:name=".content.activity.ContentActivity" />
        <activity android:name=".content.activity.RecordActivity" />
        <activity android:name=".write.activity.WriteActivity" />
        <activity android:name=".write.activity.WriteTermsActivity" />
        <activity
            android:name=".onetime.PushAuthActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".notice.activity.NoticeActivity" />
        <activity android:name=".setting.activity.SettingActivity" />
        <activity android:name=".container.activity.ContainerActivity" />
    </application>

</manifest>